In [1]:
#import needed package
#---------------------------------------------------------
import pandas as pd
import numpy as np
import sklearn
import autosklearn
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import datetime
import autosklearn.classification
from sklearn.preprocessing import LabelEncoder #OrdinalEncoder

/anaconda/envs/py35/lib/python3.5/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [2]:
#print versions
#---------------------------------------------------------
print('The scikit-learn version is {}.'.format(sklearn.__version__))
print('The Auto scikit-learn version is {}.'.format(autosklearn.__version__))

The scikit-learn version is 0.19.2.
The Auto scikit-learn version is 0.5.2.

In [3]:
#Load Data from CSV
#--------------------------------------------------------
filepath = '/data/home/eissa/Downloads/datasets_80-file7b53746cbda2.csv'
rawdata = pd.read_csv( filepath ,  sep=','  ,  low_memory=False )
rawdata.head(10)

,class,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V69,V70,V71,V72,V73,V74,V75,V76,V77,V78
0,1,2,0.0,9,5,0,2,12,28,80,...,1,40.0,56.0,2,43,43,1,103,870,662
1,1,?,-1.0,?,?,6736,0,6,0,10,...,0,NaN,56.0,2,43,43,6,188,8016,1887
2,0,1,0.0,11,4,20,4,5,14,79,...,?,1.0,NaN,2,43,43,2,57,4740,1035
3,0,10,0.0,33,37,1,27,11,45,61,...,?,NaN,1.0,1,103,43,19,103,4741,1512
4,0,?,24.0,5,9,13632,166,1,8,681,...,0,NaN,NaN,3,43,43,1,43,5454,1138
5,1,1,-1.0,?,0,0,0,1,0,0,...,?,56.0,1.0,1,43,43,2,43,862,2105
6,0,?,1.0,?,?,21384,116,19,0,14,...,0,NaN,NaN,1,43,43,5,43,4932,1572
7,0,?,-1.0,?,?,?,?,0,2,2,...,0,56.0,1.0,?,103,43,1,88,1721,274
8,0,?,282.0,?,0,3607,542,0,5,151,...,?,1.0,NaN,2,57,43,3,43,7659,2625
9,1,2,12.0,?,1,171,1,2,1,1,...,?,NaN,48.0,2,43,43,1,43,4929,39

In [4]:
#Categorical feature encoding
#--------------------------------------------------------
label = 'label'
col = [label]
for i in range(76):
    col.append('c' + str(i))
rawdata.columns = col
rawdata.head(10)
le = LabelEncoder()
for column in rawdata: 
    rawdata[column] = le.fit_transform(rawdata[column])

In [ ]:
rawdata.head(10)

In [ ]:
#Label casting
#--------------------------------------------------------
rawdata[[label]] = rawdata[[label]].astype(double)

In [ ]:
# split data into Testing and training
# ---------------------------------------------------------------------------------------------------------------------
np.random.seed(1234)
msk = np.random.rand(len(rawdata)) < 0.8
training_data = rawdata[msk]
Testing_data = rawdata[~msk]

X_train = training_data.loc[:, training_data.columns != label]
Y_train = training_data.loc[:, training_data.columns == label]

X_test = Testing_data.loc[:, Testing_data.columns != label]
Y_test = Testing_data.loc[:, Testing_data.columns == label]

In [ ]:
# auto ML
# ---------------------------------------------------------------------------------------------------------------------
t1 = datetime.datetime.now()
automl = autosklearn.classification.AutoSklearnClassifier(time_left_for_this_task=300, 
                                                          per_run_time_limit=100,
                                                          ensemble_memory_limit=10000, 
                                                          seed=1, ml_memory_limit=10000)
automl.fit(X_train, Y_train)
y_hat = automl.predict(X_test)
t2 = datetime.datetime.now()
print("Time:" + str((t2 - t1).total_seconds()))
print("Accuracy score", accuracy_score(Y_test, y_hat))

In [ ]:
automl.cv_results_

In [ ]:
automl.show_models(

In [ ]:
automl.sprint_statistics()